# Python virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite Database
database.db

# Uploaded assets and generated QRs (ignore content, keep directory)
static/uploads/*
!static/uploads/.gitkeep
static/qrcodes/*
!static/qrcodes/.gitkeep

# IDEs config
.vscode/
.idea/
.DS_Store
